*{
    /* border: 2px solid red; */
    padding: 0;
    margin: 0;
}
.bar{
background-color: black;
}
.logo{
    margin-left: 10px;
    padding-top: 0.5rem;
}
.firstPage{
    width: 100%;
    height: 100%;
}
.carousel2{
    width:  100%;
    height: 85vh;
    margin-top: 0;
    /* z-index: -10; */
}
.carousel{
    display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  gap: 0.5rem;
  /* padding-top: 0.25rem; */
}
.carousel1{
    /* padding-top: 0.5rem;*/
    display: flex; 
    flex-direction: column;
    position: absolute;
    gap: 0.75rem;
    top: 10rem;
    /* background-color: aqua; */
    left: 0;
    width: 70vw;
    height: 65vh;
    
    /* gap: 5rem; */
}
.firstPageText1{
color: #FFF;
font-family: Montserrat;
font-size: 3rem;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 2rem;
width: 60vw;
}
.firstPageText2{
    color: #FFF;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 2rem;
}
.Rectangle{
    width: 21.0625rem;
height: 5.6875rem;
flex-shrink: 0;
border-radius: 0rem 12.3125rem 12.3125rem 0rem;
background: #FFF;
display: flex;
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
position: absolute;
bottom: 2.5rem;
}
.Rectangle2{
    width: 16.875rem;
height: 3.625rem;
flex-shrink: 0;
border-radius: 4.5rem;
background: #F00;
box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
z-index: 10;
position: absolute;
left: 2rem;

}
.Rectangle2Text{
    color: #FFF;
font-family: Montserrat;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
margin-top: 0.25rem;
}
.readMore{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    border-radius: 0.15275rem;
    background-color: #F00;
    color: white;
    padding: 0.25rem 0.75rem;
    }
.firstPage{
    height: 100vh;
    position: relative;
}
.lastPage{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: black;
}
.middlePage{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    justify-content: center; 
    padding: 0;
    margin: 0;
    /* Center horizontally */
align-items: center; 
/* Center vertically */
}
.middlePageDiv1{
    width: 30rem;
    height: 2rem;
    position: absolute;
    top: 2rem; 
   
}
.middlePageDiv2{
    margin-top: 2rem; 
    width: 80vw;
height: 70vh;
border-radius: 1.25rem;
border: 2px solid rgba(0, 0, 0, 0.62);
display: flex;
flex-direction: row;
}
.middlePageDiv2Left{
    margin: 2rem 1rem;
    width: 34vw;
    height: 60vh;
}
.middlePageDiv2right{
    margin: 1.5rem 1rem;
    width: 37vw;
    height: 22rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;

}
.middlePageDiv2rightDiv1{
    font-family: Montserrat;
font-size: 2.20rem;
font-weight: 800;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}
.middlePageDiv2rightDiv2{
    font-family: Montserrat;
font-size: 1rem;
font-weight: 300;
line-height: 20px;
letter-spacing: 0em;
text-align: justified;
}
.lastPageImg{
    margin: 0;
    padding: 0;
    height: 95vh;
    width: 100%;
}
.lastPageImg2{
    visibility: hidden;
}
.imageChange{
    margin-bottom: 2rem;
}
.footer{
    width: 100%;
height: 8vh;
flex-shrink: 0;
background: #000;
display: flex;
justify-content: center; 
  align-items: center;
  padding: 0;
  margin: 0;
}
.footerImg{
    width: 23rem;
    color: #FFF;
    font-family: Neutrons Demo;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    height: 2.5rem;
}
.box1{
    z-index: 15;
    background-image: url(./Resources/Rectangle\ 98\ \(1\).png);
    width: 20rem;
height: 24.0625rem;
flex-shrink: 0;
position: absolute;
top: 2rem;
left: 6vw;
display: flex;
justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.box2{
    z-index: 15;
    background-image: url(./Resources/Rectangle\ 98\ \(1\).png);
    width: 20rem;
height: 24.0625rem;
flex-shrink: 0;
    position: absolute;
    bottom: 3.5rem;
    right: 6vw;
    display: flex;
justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.box1Img1{
position: absolute;
top: 3rem;
left: 3rem;
}
.box1 p,.box2 p{
    width: 75%;
    text-align: left;
    color: #000;
font-family: Montserrat;
font-size: 1.2rem;
font-style: italic;
font-weight: 500;
line-height: normal;
}
/* .lastPageDiv{
    height: 100vh;
} */

@media (width<=426px) {
    /* *{
        border:2px solid red;
    } */
    *{
        padding: 0;
        margin: 0;
    }
   .firstPage{
    width: 100%;
    height: 100%;
   }
   .middlePage{
     width: 100%;
     height: 200vh;
     position: absolute;
     top: 100%;
   }
   .lastPage{
    position: absolute;
    height: 180vh;
    top: 300vh;
   }

   .middlePageDiv1{
    width: 40vw;
    height: 4vh;
   }
   .firstPageText1{
    /* height: 50vh;
    width: 50vw; */
    font-size:2rem;
    /* position: absolute;
    top: 0.15rem; */
   }
   .firstPageText2{
    /* height: 50vh;
    width: 50vw; */
    font-size:1.75rem;
    /* position: absolute;
    top: rem; */
   }
   .carousel1{
    height: 75vh;
    position: absolute;
    top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
   }
   .bar{
    height: 10vh;
   }
   .carousel{
    height: 90vh;
   }
   .Rectangle{
    width: 55vw;
height: 3.6875rem;
flex-shrink: 0;
border-radius: 0rem 12.3125rem 12.3125rem 0rem;
background: #FFF;
display: flex;
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
position: absolute;
bottom: 1rem;
}
.Rectangle2{
    width: 45vw;
height: 2.625rem;
flex-shrink: 0;
border-radius: 4.5rem;
background: #F00;
box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
z-index: 10;
position: absolute;
left: 1.25rem;

}
.Rectangle2Text{
    color: #FFF;
font-family: Montserrat;
font-size: 1.45rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
margin-top: 0.25rem;
}
.box1{
    z-index: 15;
    background-image: url(./Resources/Rectangle\ 98\ \(1\).png);
    width: 90vw;
height: 24.0625rem;
flex-shrink: 0;
position: absolute;
left: 5vw;
top: 4rem;
display: flex;
justify-content: center; 
  align-items: center; 
  border-radius: 20px;
  background-image: url(./Resources/Rectangle\ 97.png);
}
.box2{
    z-index: 15;
    background-image: url(./Resources/Rectangle\ 98\ \(1\).png);
    width: 90vw;
    right: 5vw;
height: 24.0625rem;
flex-shrink: 0;
    position: absolute;
    bottom: 7.5rem;
    display: flex;
    border-radius: 20px;
justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-image: url(./Resources/Rectangle\ 97.png);
}
.box1 p,.box2 p{
    width: 65vw;
    text-align: left;
    color: #000;
font-family: Montserrat;
font-size: 1.2rem;
font-style: italic;
font-weight: 500;
line-height: normal;
}
.box1Img1{
    position: absolute;
    top: 3rem;
    left: 2rem;
    width: 30px;
    }
    .middlePageDiv2{
        margin-top: 2rem; 
        width: 80vw;
    height: 180vh;
    border-radius: 1.25rem;
    border: 2px solid rgba(0, 0, 0, 0.62);
    gap: 0.15px;
    display: flex;
    flex-direction: column;
    }
    .middlePageDiv2Left{
        margin: 1rem 1rem;
        width: 70vw;
        height: 60vh;
    }
    .middlePageDiv2rightDiv1{
        width: 70vw;
        font-family: Montserrat;
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    }
    .middlePageDiv2rightDiv2{
        width: 70vw;
        font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    }
    /* .lastPage{
        background-color: white;
    } */
    .lastPageImg{
        visibility: hidden;
        margin: 0;
        padding: 0;
        height: 95vh;
        width: 100%;
       
    }
    .lastPageDiv{
        height: 200vh;
      background-color: white;
    }
    .footer{
        width: 100%;
    height: 7vh;
    flex-shrink: 0;
    background: #000;
    display: flex;
    justify-content: center; 
      align-items: center;
      padding: 0;
      margin: 0;
    }
    .lastPage{
        background-color: white;
    }
    .footer{
        width: 100vw;
    height: 12vh;
    flex-shrink: 0;
    background: #000;
    display: flex;
    justify-content: center; 
      align-items: center;
      padding: 0;
      margin: 0;
    }
}

